@media (max-width: 992px){
    .container{
        max-width: 95%;
    }
    .photo-main{
        transform: translate(-1.5rem) scale(0.8); ;
    }
    .photo-main::before{
        clip-path: inset(17rem 0 5.7rem 48rem);
    }
    .photo{
        width: 340px;
    }
    .content{
        width: inherit;
        padding-left: 2.5rem;
        margin: 0 5rem 0 2rem;
    }
    .quest{
        gap: 1rem;
    }
}
@media (max-width: 768px){
    .photo-main{
        transform: translate(-1.4rem) scale(0.6);
    }
    .photo-main::before{
        clip-path: inset(6.2rem 0 3.2rem 48rem);
    }
    .content{
        margin: 0 3rem 0 1rem;
    }
    .photo{
        width: 250px;
    }
}

@media (max-width: 564px){
    body{
        align-items: initial;
    }
    .container{
        flex-direction: column;
        width: 90%;
        height: fit-content;
        margin: 13rem 0;
    }
    .photo-main{
        display: none;
    }
    .photo{
        height: 150px;
    }
    .photo-mob{
        display: block;
    }
    .photo-mob img{
        position: relative;
        width: 240px;
        top: -145px;
    }
    .photo-mob::before{
        content: '';
        top: 65px;
        height: 100px;
        width: 100%;
        position: relative;
        background-image: url(../images/bg-pattern-mobile.svg);
        display: inline-block;
    }
    .content{
        position: relative;
        margin: 0 1rem 0 1rem;
        padding: 0 1rem 2rem 1rem;
        bottom: 2rem;
        h1{
            text-align: center;
            padding-top: 0;
        }
    }
}