$colPrimDarkBlue: hsl(238, 29%, 16%);
$colPrimRed: hsl(14, 88%, 65%);
$colGrViolet: hsl(273, 75%, 66%);
$colGrBlue: hsl(240, 73%, 65%);
$colTxtDarkBlue: hsl(237, 12%, 33%);
$colTxtBlue: hsl(240, 6%, 50%);
$colLightBlue: hsl(240, 5%, 91%);